* {
  margin: 0;
  padding: 0;
}

body {
  background: #FFFFFF;
  color: #333333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.content {
  margin: 2.618rem;
}

.external-links {
  margin-top: 1.618rem;
}

.external-links__column {
  margin-top: 1.618rem;
}

h1 {
  font-weight: normal;
  font-size: 1.618rem;
  line-height: 1.25;
  margin-bottom: 1rem;
}

h1 span {
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin-top: 0.618rem;
}

li {
  margin-bottom: 0.236rem;
}

li:before {
  content: "-";
  display: inline-block;
  margin-right: 0.236rem;
}

a {
  color: #1A72AA;
  text-decoration: none;
}

a:hover {
  color: #333333;
}

@media only screen and (min-width: 601px) {
  .content {
    margin: 6.854rem;
  }

  .external-links {
    margin-top: 2.618rem;
    width: 32rem;
  }

  .external-links__column {
    margin: 0;
    float: left;
    width: 50%;
  }

  .external-links__column:nth-child(even) {
    float: right;
  }

  h1 {
    font-size: 2.618rem;
  }

  ul {
    margin-top: 0.5rem;
  }
}
